<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <title>Welcome to alpha login index</title>#}
    <title>
        {% block title %}
            welcome to base
        {% endblock %}
    </title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" >
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
</head>
<body>
    <div class="main">

 <a href="https://github.com/AlvinWanCN" target="_blank"><img src="/static/img/etlucency.png" class="alien"></a>
        {% block forms %}

        {% endblock %}


        </div>
</body>
</html>