<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <title>Welcome to alpha login index</title>#}
    <title>
        {% block title  %}
            welcome to base
        {% endblock %}
    </title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" >
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body style="background: black;color: white">
    <div class="main">

 <a href="https://github.com/AlvinWanCN" target="_blank"><img src="/static/img/etlucency.png" class="alien"></a>
        {% block forms %}

        {% endblock %}


        </div>
<a href="http://www.baidu.com/" target=_blank> wankh </a>
</body>
</html>