<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
            {% block title %}
            {% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/iview.css">
    <script type="text/javascript" src="/static/js/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/iview.min.js"></script>
</head>
<body>

<div id="app" >
    <div class="top" align="center">
        <h1 >
            {% block H1 %}

            {% endblock %}
        </h1>
        <p><p class="topic">个人主页</p> <div class="logout">欢迎, {{ nickname }}，本次登录IP:{{ ip }}, 当前时间:{{ nowTime }} <Icon type="clock"></Icon>     <a href="/logout" >注销</a></div></p>
        <a href="" ><img src="/static/img/etlucency.png" class="titlealien"> </a>
     </div>
    <div class="middle">
        <div class="middlep" >
            {% block middle_content %}
            {% endblock %}
        </div>

    </div>
    <i-button type="primary" size="large">Large</i-button>
  <i-button type="primary" shape="circle" icon="ios-search"></i-button>
    <i-button type="primary" icon="ios-search">Search</i-button>
    <i-button type="primary" shape="circle" icon="ios-search">Search</i-button>
<Icon type="arrow-left-a"></Icon> <i class="ivu-icon ivu-icon-checkmark"></i>


    {% include 'blogroll.html' %}
    <i-button @click="show">Click me!</i-button>
    <Modal v-model="visible" title="Welcome">Welcome to iView</Modal>

</div>

<script>
    new Vue({
        el: '#app',
        data: {
            visible: false
        },
        methods: {
            show: function () {
                this.visible = true;
            }
        }
    })
  </script>

</body>
</html>
