{% extends 'content_template.html' %}

{% block title %}
    Sophiroth Technology
{% endblock %}

{% block middle_content %}
    <p style="color: red"> Hello {{ nickname }} </p>
    <p>本次登录IP： {{ ip }}</p>
    <p>现在是北京时间 {{ nowTime }}。</p>
    <script src="/static/js/mainAlert1.js"></script>
    <p >今天上海的天气状况是{{ weatherStatus }}，最高气温{{ weatherMax }}℃,最低气温{{ weatherMin }}℃。</p>
    {% if role == 1  %}
        <div class="func">
            <script src="/static/js/main_apps.js"></script>
        </div>
    {% else %}
        <p>您当前的用户身份是客人模式，只能访问这些信息，联系Alvin获取更多权限后才能访问更多内容。.</p>
    {% endif %}

{% endblock %}
