<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jQuery ajax</title>
    <script type="text/javascript" src="/static/js/jquery-3.3.1.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#user_commit').click(function () {
                $('#ad').load('login',function (response,status,xhr) {
{#                    alert ('返回的值为:' +response + ',状态为：' + status + ',状态是：'+ xhr.statusText);#}
                })
{#                 $.post('auth_pass',{#}
{#                    username:'alvin',#}
{#                    password:'wankaihao'#}
{#                },function (response,status,xhr) {#}
{#                    if(status=='success'){#}
{#                        $('#box').html(response);#}
{#                        console.log(response['message'])#}
{##}
{#                    }#}

{#                    if (response == '127.0.0.1\n'){#}
{#                        alert('Yes')#}
{#                        window.location.href="ip";//#}
{#                    }else {#}
{#                        alert('No! the response is'+response+'yes')#}
{#                    }#}
{#                })#}


{#                $('body').append(aaa)#}

                 $.ajax({
                    type: "GET",
                    dataType: "json",
                    url:"/api/get_mem_state",
                    data:{},
                    success: function (result) {
                        app_content_template.used_mem = result.used_mem;
                        app_content_template.total_mem = result.total_mem;
                        app_content_template.available_mem = result.available_mem;
                        console.log(app_content_template.available_mem)
                        console.log('aa')
                    },
                    error : function(e,result) {
                        console.log(e)
                    },
                })
            })

        })
    </script>
</head>
<body>
<form id="form1">
    <input type="text" name='username' value="异步获取数据">
    <input type="text" name="password" >
    <input type="button" value="提交" id="user_commit">
    </form>
    <div id=ad>
        你好啊
    </div>
</body>
</html>