
{% extends 'content_template.html' %}

{% block title %}
         New Acount addition.
{% endblock %}

{% block middle_content %}
    <row style="height: 60px" ></row>
<row >
   <i-col span="8" push="2" >
           <row style="height: 100px"></row>
    <i-form :model="new_account" label-position="left" :label-width="100" >
        <form-item label="Application">
            <i-input v-model="new_account.application" style="width: auto"  ></i-input>
        </form-item>
        <form-item label="Username">
            <i-input  v-model="new_account.username" style="width: auto"></i-input>
        </form-item>
        <form-item label="Password">
            <i-input type='password' v-model="new_account.password" style="width: auto"></i-input>
        </form-item>
        <form-item label="Comment">
            <i-input v-model="new_account.comment" style="width: auto" @on-enter="submit_new_account(new_account)"></i-input>
        </form-item>
    </i-form>
    <i-button type="success" style="width: 260px" @click="submit_new_account(new_account)">SUBMIT</i-button>
   </i-col>
    <i-col span="15" push="0"  >

{#     <p>Application Account Information</p>#}

        <i-table height="500" :columns="account_title" :data="account_data" ref="table"></i-table>
        <i-button type="primary" size="large" @click="exportData()"><icon type="ios-download-outline"></icon>导出数据到Excel</i-button>

    </i-col>
</row>
{% endblock %}

{% block topic %}
应用中心 / 账号记录
{% endblock %}