

{% extends 'content_template.html' %}

{% block title %}
         New Acount addition.
{% endblock %}

{% block middle_content %}
<form action="" method="POST" align="center" style="color: black">
    <table align="center">
           <tr>
                <td>Username:</td>
                <td><input type="text" name="username" ></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password"></td>
            </tr>
           <tr>
                <td>Application:</td>
                <td><input type="text" name="application" ></td>
            </tr>
           <tr>
                <td>Comment:</td>
                <td><input type="text" name="comment" ></td>
            </tr>

    </table>
    <input type="submit" value="Submit" class="green_btn">
</form>
{% endblock %}

{% block tail %}
<p>友情链接</p>
{% endblock %}

{% block H1 %}
Welcome to account addition center
{% endblock %}