<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send Email</title>
</head>
<body>

    <script type="text/javascript" src="../static/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../static/js/vue.min.js"></script>
    <script type="text/javascript" src="../static/js/iview.min.js"></script>
<div id="app">

   <i-input v-model="value" placeholder="Enter something..." style="width: 300px" />
    你好啊

</div>

</body>

    var login_vue = new Vue({
        el:'#app',
        data:exampleData,
        delimiters:['${', '}'],
        methods:{

        }

    });

</html>