
/*body{*/
    /*background-color: black;*/
    /*color: white;*/
/*}*/

.top{
    /*border-style: dashed;*/
    /*border-top-width: 15px;*/
    /*border-right-width: 5px;*/
    /*border-bottom-width: 15px;*/
    /*border-left-width: 5px;*/
    /*top:0;*/
    height: 50px;
    /*width: 100%;*/
    color: white;
    background-color: #417690;

}
.top h1{
    position: relative;
    top: 20px;
}
.titlealien{
    top:0px;
    width: 50px;
    position: absolute;
    left: 20px;
}
.headTitel{
    position: absolute;
    top: 50%;
}

.logout{
    position: absolute;
    right: 0px;
    top:15px;
    color: #e4e5e7;
    font-size:15px;
}
.logout a{
    position: relative;
    margin:60px;    /*距离左边的距离*/
    right: -35px;
}
.topic{

    position: absolute;
    left: 85px;
    top:15px;
    font-size:15px;
    text-align:left;
    font-weight: bold ;    /*加粗*/

}


.middle{
    /*position: relative;*/
    border-style: groove;
    height: 650px;
    width: 100%;

}
.tail{
    border-style: outset;
    height: 163px;
    width: 100%;
}
.tail a{
    position: relative;
    left:100px;
    top:20px;
    /*height: 50px;*/
    margin:10px;    /*距离左边的距离*/
}
.middle p{
    position: relative;
    left:100px;
    top: 50px;
    line-height: 25px;

}

.middle input{
    position: absolute;
    left:107px;
    height: 18px;
}




.green_btn {
    height: 23px;
    width: 175px;
    background-color: #ab7643;
    font-size: 16px;
    margin-top: 13px;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #2ab949;
}
.alien {
    width: 255px;
}
.td{
    color: #95de0c;
}

.form1{
    /*border-style: dashed;*/
    position: absolute;
    left:0px;
    width: 300px;
    height: 300px;
    left: 0px;
    text-align:left;

}
.form1 p{
    position: relative;
    top:20px;
}

.form1 input{
    position: absolute;
    left: 95px;
}
.form1 a{
    position: absolute;
    top: 130px;
    left: 95px;
}

.main{
    text-align: center; /*让div内部文字居中*/
    /*background-color: #fff;*/
    border-radius: 20px;
    width: 300px;
    height: 650px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

a{
    color: #8e1b1b;
    font-weight: bold ;    /*加粗*/

    font-family: "微软雅黑";
    /*border-style: groove;*/

}

.func button{
    height: 23px;
    width: 175px;
    background-color: black;
    font-size: 16px;
    margin-top: 13px;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #2ab949;}