
.head{
    border-style: dashed;
    /*border-top-width: 15px;*/
    /*border-right-width: 5px;*/
    /*border-bottom-width: 15px;*/
    /*border-left-width: 5px;*/
    top:0;
    height: 85px;
    width: 100%;
    color: white;
    background-color: #0c1927;

}
.titlealien{
    top:13px;
    width: 80px;
    position: absolute;
    left: 20px;
}
.headTitel{
    position: absolute;
    top: 50%;
}

.logout{
    position: absolute;
    right: 5px;
    top:-2px;
    color: red;
}

.middle{
    position: absolute;
    border-style: groove;
    height: 650px;
    width: 100%;

}
.tail{
    position: absolute;
    border-style: double;
    top: 755px;
    bottom: 0;
    width: 100%;
}
.middle p{
    position: relative;
    left:100px;
    top: 50px;
    line-height: 25px;

}

.middle input{
    position: absolute;
    left:107px;
    height: 18px;
}




.green_btn {
    height: 23px;
    width: 175px;
    background-color: #ab7643;
    font-size: 16px;
    margin-top: 13px;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #2ab949;
}
.alien {
    width: 255px;
}
.td{
    color: #95de0c;
}

.form1{
    /*border-style: dashed;*/
    position: absolute;
    left:0px;
    width: 300px;
    height: 300px;
    left: 0px;
    text-align:left;

}
.form1 p{
    position: relative;
    top:20px;
}

.form1 input{
    position: absolute;
    left: 95px;
}
.form1 a{
    position: absolute;
    top: 130px;
    left: 95px;
}

.main{
    text-align: center; /*让div内部文字居中*/
    /*background-color: #fff;*/
    border-radius: 20px;
    width: 300px;
    height: 650px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

a{
    color: #0c8b13;
    font-weight: bold ;
    font-family: 微软雅黑;
}
body{
    background-color: black;
    color: black;
}